@import url('https://css.gg/ui-kit.css');
@import url('https://css.gg/code-slash.css');
@import url('https://css.gg/database.css');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Overpass:wght@100;200;300;400;500;600;700&display=swap');

/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}

nav {
    height: 50px;
    align-items: center;
    border: none;
    padding: 20px;
    font-family: 'Overpass', sans-serif;
    
}

#logo {
    font-size: 24pt;
    line-height: 50px;
    
}

nav ul {
    display: inline;
    float: right;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

nav li{
    display: inline;
    margin: 20px;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: whitesmoke;
    font-weight: 600;
    
}

nav li:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: black;
    color: whitesmoke;
    z-index: 1;
    width: 100%;
}

#sobre {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 90px;
    text-align: justify;
    height: calc(100vh);
    line-height: 24pt;
    max-width: 1200px;
    margin: auto;
    font-size: 22pt;
    
}

#perfil {
    text-align: justify;
   
}


#perfil img {
    width: 250px;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}

#perfil a {
    display: inline;
}

#btnCv {
    width: 140px;
    height: 60px;
    font-size: 14pt;
    background-color: black;
    color: white;
    display: inline-block;
}
#coisasquefaco {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    margin: auto;

}
.coisas-h2{
    margin: 30px auto;
    font-size: 24pt;
}
.coisa {
    background-color: black;
    margin: 10px;
    padding: 20px;
    max-width: 340px;
    color: white;
    line-height: 18pt;
    font-size: 14pt;
    text-align: center;
}

.rolardireita {
    display: none;
}

.coisa:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
    
}

.coisa img:hover {
    filter: invert(100%);
}


.coisa img {
    display: block;
    margin: auto;
    padding: 20px;
}

#btnCv:hover {
    filter: invert(100%);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#curriculo {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    height: calc(100vh - 120px);
    /* min-height: 1000px; */
    margin: auto;
    max-width: 100vw;
    font-size: 18pt;
    background-color: rgb(248, 248, 248);
    
}

.slides {
    display: none;
    
}
.sl-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.sl-div{
    width: 100%;
    padding: 30px;
    color: white;
    height: 100%;
    
}

.cv-exp-h3 {
    margin-bottom: 40px;
    font-size: 24px;
}

.cv-exp-h4 {
    margin-bottom: 10px;
    font-size: 26px;
}

.cv-exp-h5 {
    margin: 10px auto;
    font-size: 20px;
}

.cv-exp-corpo {
    font-size: 22px;
    max-width: 600px;
}

.cv-img {
    float: right;
    filter: invert();
    height: auto;
    max-height: 300px;
    margin-right: 10%;
    display: block;
}

#contato {
    padding-left: 10%;
    padding-right: 10%;
    height: calc(100vh - 120px);
    padding-top: 100px;
    margin: auto;
    max-width: 100vw;
    background-color: black !important;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
}
#contato span {
    text-align: center;
}
#contatocontainer {
    font-size: 16pt;
    margin: auto;
    max-width: 1200px;
}

.mapouter {
    background-color: aliceblue;
    height: 80%;
    text-align: center;
    max-height: 400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media only screen and (max-width: 414px) {

    nav {
        height: 4em;
        padding: 0;
        
     
    }

    nav ul {
        margin-right: 10px;
    }

    nav li{
        display: inline;
        width: 10%;
        color: whitesmoke;
        font-weight: 600;
        margin: auto;
        padding: 5px;
        max-width: 60px;
        font-size: 10pt;
        
    }

    .stick {
        width: 100%;
    }

    #perfil h1 {
        font-size: 30pt;
    }

    #logo {
        font-size: 14pt;
        line-height: 3.5em;
        margin-left: 10px;
    }
  


    #perfil img {
        max-width: 140px;
        float: right;
        margin-top: 10px;
    }

    #sobre {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 12%;
        line-height: 18pt;
        max-width: 360px;
        margin: auto;
        
    }

    #perfil {
        font-size: 16pt;
        word-spacing: 0.5px;
    }

    #btnCv{
        display: none;
    }

    #coisasquefaco {
        overflow: scroll;
        height: 40%;
    }

    .coisa {
        width: 300px;
        max-width: 360px;
    }

    .rolardireita {
        display: block;
    }
    
    #curriculo {
        height: 100vh;
        padding: 15% 2%;
    }

    #curriculo h2 {
        margin: 30px auto;
        font-size: 24pt;
    }
    .sl-container {
        height: 80%;
        
        
    }

    .sl-div {
        width: auto;
    }
    .cv-img {
        float: unset;
        width: 100%;
        display: block;
    }

    .cv-exp-h3 {
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 22px;
    }
    
    .cv-exp-h4 {
        margin-bottom: 10px;
        font-size: 24px;
    }
    
    .cv-exp-h5 {
        margin: 10px auto;
        font-size: 18px;
    }
    
    .cv-exp-corpo {
        font-size: 20px;
        max-width: 600px;
        text-align: justify;
    }

    #contato {
        display: block;
        padding-top: 15%;
        height: 100vh;
    }


    .mapouter {
        height: 40%;
        max-height: 400px;
    }


}

@media only screen and (max-width: 820px) {
    #sobre {
        padding-left: 5%;
        padding-right: 5%;
    }
}